* a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #0e0e12;
    color: white;
}

header {
    background-color: #19191a;
    border-bottom: gray solid 1px;
    width: 100%;
    padding: 0.5rem 1rem 0rem 0.5rem;

    .pesquisa-perfil-notificacoes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pesquisa-perfil-notificacoes img {
        width: 5rem;
        height: 5rem;
    }

    .perfil-notificacoes {
        list-style-type: none;
        display: inline-flex;
        color: white;
        padding-right: 2rem;

    }

    .perfil-notificacoes li {
        padding: 0rem 0.5rem;
    }

    .pesquisa {
        border-radius: 2rem;
        width: 15rem;
        height: 2rem;
        text-align: center;
        background-color: #19191a;
        color: white;
    }

    .abas {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0px;
        

    }
    .abas li {
        padding: 1rem 0.5rem;
        text-align: center;
        min-width:100px;
        
    }

    .abas li:hover {
        background-color: rgb(44, 43, 43);
cursor: pointer;
    }
}

main {

    .secoes {
        background-color: #19191a;
        margin: 2rem 5rem;
        padding: 1rem;
        border-radius: 1rem;
        min-height: 10rem;

    }

    .titulo-secoes {
        margin: 0px;
    }
}

footer {
    background-color: #19191a;


    .roda-pe {
        margin: 0px;
    }
}