body {
    background-color: #0e0e12;
}

header {
    background-color: #19191a;
    width: 100%;
    border-bottom: gray solid 1px;

    .pesquisa-perfil-notificacoes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pesquisa-perfil-notificacoes img {
        width: 5rem;
        height: 5rem;
    }

    .perfil-notificacoes {
        list-style-type: none;
        display: inline-flex;
        color: white;
        padding-right: 2rem;

    }

    .perfil-notificacoes li {
        padding: 0rem 0.5rem;
    }

   
    .abas {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0px;
        padding: 0.5rem;
    }

    .abas li a {
        text-decoration: none;
    }
}

main {
    background-color: #19191a;

    .titulo-secoes {
        margin: 0px;
    }
}

footer {
    background-color: #19191a;
    margin: 0px;

    .roda-pe {
        margin: 0px;
    }
}