@media (max-width:425px) {

    .pesquisa {
        max-width: 10rem;
    }

    .abas {
        flex-direction: column;
        margin: 0 auto;
    }

    .aba {
        border-bottom: solid 1px;
    }

    main {
        .secoes {
            margin: 1rem;
        }
    }

}