html {
    font-family: "Oxanium", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #0e0e12;
    color: white;
}

header {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    border-bottom: gray solid 1px;
    background-color: #1b1b1b;
    min-width: 320px;
    min-height: 112px;
    width: 100%;

    .pesquisa-perfil-notificacoes {
        justify-content: space-between;
        align-items: center;
        display: flex;
        max-height: 50px;
    }

    .pesquisa-perfil-notificacoes img {
        max-height: 50px;
        max-width: 50px;
        width: 4rem;
        height: 4rem;
    }

    .perfil-notificacoes {
        list-style-type: none;
        display: inline-flex;
        color: white;


    }

    .perfil-notificacoes li {
        padding: 0rem 1rem;
        scale: 150%;
    }

    .pesquisa {
        border-radius: 2rem;
        width: 15rem;
        height: 2rem;
        text-align: center;
        background-color: #1b1b1b;
        color: white;
    }

    .abas {
        margin-bottom: 0px;
        display: flex;
    }

    .abas li {
        padding: 1rem 0.5rem;
        text-align: center;
        min-width: 100px;
    }

    .abas .selecionado {
        background-color: rgb(44, 43, 43);
        border-radius: 1rem 1rem 0rem 0rem;
    }

    .abas li:hover {
        background-color: rgb(44, 43, 43);
        cursor: pointer;
        border-radius: 1rem 1rem 0rem 0rem;
        border-bottom: solid #ffffff;
    }
}

main {

    .secoes {
        background-color: #1b1b1b;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 1rem;
        min-height: 10rem;
        max-width: 700px;

    }

    .titulo-secoes {
        margin: 0px;
    }

    .profissoes {

        padding: 0.5rem;
        display: flex;
        flex-direction: column;

    }

    .profissoes button {
        margin: 10px;
    }

    .profissoes li {
        padding: 1rem;
        text-align: start;

    }

    .quest {
        display: flex;
        margin: 1rem;
        flex-wrap: wrap;
        max-height: 100%;
        justify-content: center;
    }

    .quest li{
        background-color: rgb(44, 43, 43);
        border-radius: 1rem;
        height: 150px;
        width: 150px;
        margin: 1rem;
        padding-top: 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

footer {
    background-color: #1b1b1b;
    height: 10rem;
}